<%= form_for(@cart_product) do |f| %>
  <% if @cart_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_product.errors.count, "error") %> prohibited this cart_product from being saved:</h2>

      <ul>
      <% @cart_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br>
    <%= f.text_field :cart_id %>
  </div>
    <%= f.text_field_tag 'quantity' %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
