<% if @products.empty?%>
    <H1>Tato kategorie neobsahuje zadne zbozi</H1>
<%else%>
<table>
  <thead>
  <tr>
    <td>Nazev zbozi</td>
    <td>Katalogove cislo</td>
    <td>Baleni</td>
    <td>Minimalni objednavka </td>
    <td>Cena</td>
    <td>Zamestnanecka cena</td>
    <td>Mnozstvi</td>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.number %></td>
        <td><%= product.package%></td>
        <td><%= product.minimum_order %> baleni</td>
        <td><%= product.price%></td>
        <td><%= product.customer_price%></td>
        <td>
          <%= form_tag cart_products_path, :method => :post do%>
              <%= hidden_field_tag 'product_id', product.id%>
              <%= number_field_tag 'pocet', 1, min: 1 , max: 99, step: 1%>
              </td>
              <td>
                <%= submit_tag 'Vlozit do kosiku'%></td>
          <%end%>
          </tr>
  <% end %>
  </tbody>
</table>
<%end%>