<!DOCTYPE html>
<html>
<head>
  <title>AlimpexCustomerShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="head">
  <div id="menu">
    <nav>
      <a class="menu-button" <%= link_to 'REGISTROVAT', new_user_registration_path%>
      <% if user_signed_in? %>
        <a class="menu-button" <%= link_to 'ODHLASIT', destroy_user_session_path, method: :delete%>
      <% else %>
        <a class="menu-button" <%= link_to 'PRIHLASIT', new_user_session_path %>
      <%end%>
      <% if user_signed_in? %>
      <a class="menu-button" href="sitter.html">MUJ UCET</a>
          <% end%>
    </nav>
  </div>

</section>
<section id="content">
  <%@categories = Category.all%>
  <ul>
    <li><a class="active" href="/pages/index">Home</a></li>
    <% @categories.each do |name| %>
      <% adress = "/pages/#{name.name}".downcase!%>
      <li><a <%=link_to name.name , adress%></a></li>
    <%end%>
  </ul>


  <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</section>
</body>
</html>
